@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
}

@keyframes pulseSlow {
  0%, 100% { opacity: 0.85; }
  50% { opacity: 1; }
}

.animate-pulse-slow {
  animation: pulseSlow 4s ease-in-out infinite;
}
